access_key_ses_for_gmail = "AK....Q6P"
secret_key_ses_for_gmail = "B.WYk"
key_for_route53        = "zV-...u2w/Mm1ZU="
access_key             = "AK....PUQ"
secret_key             = "v...ft"
domain_email_name      = "max@aldunate.pro"
to_email               = "maxaldunate@gmail.com"
bucket_name            = "aldunate-pro-mail-30-days-estepa"
bucket_expiration_days = "5"
tag_project            = "max-pro"
tag_project_module     = "mail-forwarder-aldunate-pro"